@page
@model SoftUniFest.Web.Areas.Identity.Pages.Account.SuccessRegisterModel
@{
    this.ViewData["Title"] = "Thanks for registration";
}
<h1>Thanks for your registration, please check your email!</h1>
